<html>
<head>
	<link rel="stylesheet" href="style.css">

</head>
<body>

	<h1>This is your shopping cart</h1>
	
	<p>Number of products in cart: {{ all_items|length}} </p>
	<p>Total price of cart: {{sum}} dollars</p>

	<br><br>

	<ul>
		{% for product in all_items %}
		<li><form action="/deleteTodo/{{product.id}}/" style="display: inline;" method="post">{% csrf_token %}
				<input type="submit" value="Remove from cart"/>
		</form>
		{{ product.name }}: {{product.price}} dollars


		</li>
		{% endfor %}
	</ul>

	<form action="/addTodo/" method="post">{% csrf_token %}
		<input type="text" name="content"/>
		<input type="submit" value="Add to cart"/>
	</form>
</body>

</html>
